{% extends 'base.html' %}
{% load humanize %}
{% load visitors_tags %}
{% load static %}

{% block additional_meta %}
  <meta name="robots" content="index, follow">
{% endblock additional_meta %}


{% block additional_css %}
  <style>
    .table td {
        font-size: 0.7rem !important;
    }
    .table th {
        font-size: 0.7rem !important;
    }
    .card .table th {
        padding-right: 0.3rem !important;
        padding-left: 0.3rem !important;
    }
    .card .table td {
        padding-right: 0.3rem !important;
        padding-left: 0.3rem !important;
    }

    .fixed-table {
      table-layout: fixed !important;
      width: 100% !important;  /* or whatever total width you want */
    }

    .fixed-table td {
      {#width: 222px !important;#}
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
      white-space: normal !important;
      padding: 5px !important;  /* optional, for better readability */
    }

    .highlight {
      background-color: yellow !important;
      padding: 0 !important;
      border-radius: 0 !important;
      color: black !important;
    }
  </style>
{% endblock additional_css %}


{% block main_container_tag %}
  <div class="container-fluid container-application search-results-wider">
{% endblock main_container_tag %}


{% block content %}
  <div class="main-content position-relative">

    {% include 'main_nav.html' %}

    <div class="page-content col-lg-6 mx-auto">
      {% include 'search_box.html' %}
    </div>

    <div class="page-content">
      <div class="card">
        <div class="card-body" id="contenido">
          {% if paginator.count > 0 %}
            También puedes hacer búsquedas haciendo click sobre cada uno de los
            resultados <span class="badge"><b>{{ paginator.count | intcomma }}</b></span>

            <p>
              Puedes odernar los resultados de manera ascendente o descendente:
              <img
                  src="{% static 'img/sort_example.webp' %}"
                  class="img-thumbnail"
                  width="230px"
              />
            </p>

            {% load static %}
            <p class="pull-right">
              <a href="{% url 'search-tsv' query %}?page={{ page.number }}">
                <img title="Descarga datos en formato TSV" width="32px" src="{% static 'img/tsv.svg' %}" /></a>

              <a href="{% url 'search-json' query %}?page={{ page.number }}">
                <img title="Descarga datos en formato JSON" width="32px" src="{% static 'img/json.svg' %}" /></a>
            </p>

            <table class='table table-striped table-hover table-bordered table-responsive table-sm fixed-table'>

              <colgroup>
                <col style="width: 62px">
                <col style="width: 72px">
                <col style="width: 58px">
                <col style="width: 58px">
                <col style="width: 200px">
                <col style="width: 72px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 200px">
              </colgroup>

              <tr>
                <th>{% sort_anchor 'institution' 'Institución' %}</th>
                <th>{% sort_anchor 'date' 'Fecha' %}</th>
                <th>Hora ing.</th>
                <th>Hora sal.</th>
                <th>{% sort_anchor 'full_name' 'Visitante' %}</th>
                <th>{% sort_anchor 'id_number' 'Documento' %}</th>
                <th>Empleado público</th>
                <th>Oficina/Cargo</th>
                <th>Entidad</th>
                <th>Motivo</th>
                <th>Lugar de reunión</th>
              </tr>

              {% for i in page.object_list %}
                <tr>
                  <td>
                    <a
                        href='{% url 'search_view' %}?i={{ i.institution2.slug }}'
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ i.institution2.name }}"
                    >
                      {{ i.institution2.slug }}
                    </a>
                  </td>
                  <td>
                    {{ i.date|date:"d/m/Y" }}
                  </td>
                  <td>{{ i.time_start }}</td>
                  <td>{{ i.time_end }}</td>
                  <td>
                    <a href='{% url 'search_view' %}?q={{ i.full_name }}'>
                      {{ i.full_name|upper }}
                    </a>
                  </td>
                  <td>
                    {% if i.id_number %}
                      <a href='{% url 'search_view' %}?q={{ i.id_number }}'>
                        {{ i.id_document }}: {{ i.id_number }}
                      </a>
                    {% else %}
                      &nbsp;
                    {% endif %}
                  </td>
                  <td>
                    <a href='{% url 'search_view' %}?q={{ i.host_name }}'>
                      {{ i.host_name }}
                    </a>
                  </td>
                  {% if i.office %}
                    <td>
                      <a href='{% url 'search_view' %}?q={{ i.office }}'>
                        {{ i.office }}
                      </a>
                    </td>
                  {% else %}
                    <td>
                      <a href='{% url 'search_view' %}?q={{ i.host_title }}'>
                        {{ i.host_title }}
                      </a>
                    </td>
                  {% endif %}

                  <td><a href='{% url 'search_view' %}?q={{ i.entity }}'>
                    {{ i.entity }}
                  </a></td>
                  <td><a href='{% url 'search_view' %}?q={{ i.reason }}'>
                    {{ i.reason }}
                  </a></td>

                  {% if i.meeting_place %}
                    <td>
                      <a href='{% url 'search_view' %}?q={{ i.meeting_place }}'>
                        {{ i.meeting_place }}
                      </a>
                    </td>
                  {% else %}
                    <td>
                      <a href='{% url 'search_view' %}?q={{ i.location }}'>
                        {{ i.location }}
                      </a>
                    </td>
                  {% endif %}

                </tr>
              {% endfor %}
            </table>

            {% show_pagination %}
          {% else %}
            <h4>No se encontraron resultados. Intenta con otra palabra clave.</h4>
          {% endif %}
        </div>
      </div>



    </div>

{% endblock content %}
