{% extends 'base.html' %}
{% load humanize %}

{% block additional_meta %}
<meta name="robots" content="noindex">
{% endblock additional_meta %}

{% load staticfiles %}
{% block additional_css %}
<link href="{% static 'css/jquery.toast.min.css' %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}


     <div class="container" style="text-align:center; max-width:1200px;">
       <h2>Este es <a href="/">Manolo</a></h2>
       <h4>Manolo es un buscador de personas que visitan entidades del Estado peruano</h4>
       <br />

       {% include 'search_box.html' %}

     </div><!-- container -->

     <br />

     <div id="contenido" class="container" style="max-width:1200px;">

     {% if extra_premium_results > 0 %}
       <div class="alert alert-info">
         <h3>
        Se encontraron <a href="/accounts/login/">{{ extra_premium_results|intcomma }}</a> registros
         adicionales (recientes) los cuales están disponibles para
        suscriptores del servicio <a href="/accounts/login/">Manolo - Premium</a>
         </h3>
       </div>
     {% endif %}


     {% if paginator.object_list|length > 0 %}

       También puedes hacer búsquedas haciendo click sobre cada uno de los
       resultados <span class="badge"><b>{{ paginator.object_list|length|intcomma }}</b></span>

       <p class="pull-right">
         <a href="/api/search.tsv/{{ query }}/?page={{ page.number }}">
           <img title="Descarga datos en formato TSV" width="32px" src="{% static 'img/tsv.svg' %}" /></a>

         <a href="/api/search.json/{{ query }}/?page={{ page.number }}">
           <img title="Descarga datos en formato JSON" width="32px" src="{% static 'img/json.svg' %}" /></a>
       </p>

       <table class='table table-hover table-striped table-bordered
         table-responsive table-condensed' style='font-size: 12px;'>
         <th>Institución</th></th><th>Fecha</th><th>Visitante</th><th>Documento</th><th>Entidad</th>
         <th>Motivo</th><th>Empleado público</th><th>Oficina/Cargo</th>
         <th>Lugar de reunión</th><th>Hora ing.</th><th>Hora sal.</th>

         {% for i in page.object_list %}
         <tr>
           <td>
             <a href='/search?q={{ i.object.institution }}'>
               {{ i.object.institution|upper }}
             </a>
           </td>
           <td>
             <a href='/search_date?q={{ i.object.date|date:"d/m/Y" }}'>
               {{ i.object.date|date:"d/m/Y" }}
             </a>
           </td>
           <td>
             <a href='/search?q={{ i.object.full_name }}'>
               {{ i.object.full_name|upper }}
             </a>
             <a class="create_alert">
               <i title="Crear alerta" class="fa fa-bell pull-right" aria-hidden="true"></i>
             </a>
           </td>
           <td><a href='/search?q={{ i.object.id_number }}'>
             {{ i.object.id_document }}: {{ i.object.id_number }}
           </a></td>
           <td><a href='/search?q={{ i.object.entity }}'>
             {{ i.object.entity }}
           </a></td>
           <td><a href='/search?q={{ i.object.reason }}'>
             {{ i.object.reason }}
           </a></td>
           <td><a href='/search?q={{ i.object.host_name }}'>
             {{ i.object.host_name|upper }}
           </a></td>
           <td><a href='/search?q={{ i.object.office }}'>
             {{ i.object.office }}
           </a></td>
           <td><a href='/search?q={{ i.object.meeting_place }}'>
             {{ i.object.meeting_place }}
           </a></td>
           <td>{{ i.object.time_start }}</td>
           <td>{{ i.object.time_end }}</td>
         </tr>
         {% endfor %}
       </table>

       {% if page.has_previous or page.has_next %}
       <div class="text-center">
         <nav>
           <ul class="pagination">
             {% if page.has_previous %}
             <li>
               <a aria-label="Previous" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                 <span aria-hidden="true">&laquo;</span>
               </a>
             </li>
             {% endif %}

             {% for i in page.paginator.paginate_sections %}
               {% if page.number == i %}
                 <li class="active"><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
               {% elif i == None %}
                 <li class="disabled"><a href="#">…</a></li>
               {% else %}
                 <li><a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a></li>
               {% endif %}
             {% endfor %}

             {% if page.has_next %}
             <li>
               <a aria-label="Next" href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                 <span aria-hidden="true">&raquo;</span>
               </a>
             </li>
             {% endif %}

           </ul>
         </nav>
       </div>
       {% endif %}

     {% else %}
       <h4>No se encontraron resultados. Intenta con otra palabra clave.</h4>
     {% endif %}

     </div><!-- container contenido -->

{% endblock content %}

{% block additional_javascript %}
<script src='{% static "js/jquery.toast.min.js" %}'></script>
<script>
$( document ).ready(function() {
  $( ".create_alert" ).click(function() {
    var full_name = $(this).prev().html();
    $.post("/create_alert/", {"full_name": full_name}, function(data) {
      console.log(data);
      if (data.message == "user not authenticated") {
        $.toast({
          heading: 'Información',
          text: 'Necesitas tener <a href="/accounts/login/">suscripción y loguearte</a> para crear alertas',
          showHideTransition: 'slide',
          icon: 'info',
          position: 'mid-center',
          hideAfter: 5000
        });
      }
      else if (data.message == "alert created") {
        $.toast({
          heading: 'Éxito',
          text: 'Alerta creada. Mira todas tus alertas en <a href="/alertas/">este link</a>',
          showHideTransition: 'slide',
          icon: 'success',
          position: 'mid-center',
          hideAfter: 5000
        });
      }
      else if (data.message == "alert exists") {
        $.toast({
          heading: 'Oops',
          text: 'Ya has creado esta alerta antes. Mira todas tus alertas en <a href="/alertas/">este link</a>',
          showHideTransition: 'slide',
          icon: 'warning',
          position: 'mid-center',
          hideAfter: 5000
        });
      }
    });
  });
});
</script>
{% endblock additional_javascript %}
