# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.8"

services:
  - postgresql

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq build-essential gettext python-dev zlib1g-dev libpq-dev xvfb
  - sudo apt-get install -qq libjpeg8-dev libfreetype6-dev libwebp-dev
  - sudo apt-get install -qq graphviz-dev python-setuptools python3-dev python-virtualenv python-pip
  - sudo apt-get install -qq firefox automake libtool libreadline6 libreadline6-dev libreadline-dev
  - sudo apt-get install -qq libsqlite3-dev libxml2 libxml2-dev libssl-dev libbz2-dev wget curl llvm
before_script:
  - psql -c 'create database manolo;' -U postgres
install:
  - pip install -r requirements/local.txt
script:
  - python manage.py test --settings=manolo.settings.local
