# -------------------------------------
# DJANGO ENVIRON ENV
# -------------------------------------
#
# Notes:
#   - If this file ends in .dist, do not add any private information
#     such as api_keys or auth_tokens to this file.
#   - If this file ends in .dist, duplicate and rename this file to .env.
#
# See:
#   - https://django-environ.readthedocs.io/en/latest/
#

# Django
# -------------------------------------

DJANGO_DEBUG=True
DJANGO_SECRET_KEY="CHANGEME!!!"
DATABASE_URL=postgres://postgres:@db/manolo


# Twitter (twitterbot2)
# -------------------------------------
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_OAUTH_TOKEN=
TWITTER_OAUTH_TOKEN_SECRET=
