body {
    font-family: "Raleway", Arial, sans-serif;
}

#contenido {
    font-family: "Raleway", Arial, sans-serif;
}

.form-group { display: inline-block; }

.highlight { background-color: yellow }

.navbar .divider-vertical {
    min-height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

footer {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.navbar {
    background-image: linear-gradient(#FFF, #EEE 50%, #E4E4E4);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #D5D5D5;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.navbar-default {
    background-color: #EEE;
}

.navbar-brand {
    padding: 0px;
}