<div class="row search-form">
    <form method="get" class="form-horizontal" role="search" action="/cazador">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tipea Persona" name="q">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i> Cazar!</button>
            </span>
            </div><!-- /input-group -->
        </div>
    </form>
</div>