{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<title>Ahhhhhhhhhh página no encontrada | Manolo</title>{% endblock title%}

{% block content %}
<div class="container" style="text-align:center; max-width:1200px;">
  <h2>Este es Manolo</h2>

    <h3>Ahhhhhhhhhh! Error 404. Esa página no existe!</h3>


  {% include 'search_box.html' %}


  <div class="row">
    <div class="col-xs-12">
      <img src="{% static 'img/perro_saca_lengua.jpg' %}" alt="Perro saca lengua"
           class="img-thumbnail img-responsive">
    </div>
  </div>


</div>
{% endblock content %}
