{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="main-content position-relative">

    {% include 'main_nav.html' %}

    <div class="page-content">
      <div class="card">
        <div class="card-body">
          <h1>About Manolo</h1>

          <p>Manolo es desarrollado por varios voluntarios que contribuyen durante
          sus horas libres.</p>

{#          {% if project_leader %}#}
{#            <div class="panel panel-default">#}
{#              <div class="panel-body">#}
{#                {% with project_leader as developer %}#}
{#                <div class="media">#}
{#                  <div class="media-left media-middle">#}
{#                    {% with 'img/'|add:developer.avatar_image_name as imagePath %}#}
{#                      <img#}
{#                          class="media-object img-circle"#}
{#                          src="{% static imagePath %}"#}
{#                          alt="{{ developer.name }}"#}
{#                          width="90px"#}
{#                      />#}
{#                    {% endwith %}#}
{#                  </div>#}
{#                  <div class="media-body">#}
{#                    <h4 class="media-heading">{{ developer.name }}</h4>#}
{#                    <small> {{ developer.title }}</small>#}
{#                    <p>#}
{#                      <br />#}
{#                      <a href="https://github.com/{{ developer.github }}/"><i class="fa fa-github-alt fa-lg fa-fw"></i></a>#}
{#                      <a href="https://twitter.com/{{ developer.twitter }}"> @{{ developer.twitter }} </a>#}
{#                      {% if developer.homepage %}#}
{#                        <a href="{{ developer.homepage }}"><i class="fa fa-external-link fa-lg fa-fw"></i></a>#}
{#                      {% endif %}#}
{#                    </p>#}
{##}
{#                  </div>#}
{#                {% endwith %}#}
{#              </div>#}
{#              </div>#}
{#            </div>#}
{#          {% endif %}#}


          <div class="row ">
            {% for developer in developers %}
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card hover-shadow-lg">
                  <div class="card-header border-0 pb-0">
                    <div class="card-body text-center">
                      {% with 'img/'|add:developer.avatar_image_name as imagePath %}
                        <img
                            class="avatar rounded-circle avatar-lg hover-translate-y-n3"
                            src="{% static imagePath %}"
                            alt="{{ developer.name }}"
                            width="90px"
                        />
                        <h5 class="h6 my-4">{{ developer.name }}<br />
                          <small> {{ developer.title }}</small>
                        </h5>
                      {% endwith %}
                    </div>

                    <div class="card-footer">
                      <div class="actions d-flex">
                        <a class="action-item" href="https://github.com/{{ developer.github }}/">
                          <span class="material-symbols-outlined">code</span>
                        </a>
                        <a class="action-item" href="https://twitter.com/{{ developer.twitter }}"> @{{ developer.twitter }} </a>
                        {% if developer.homepage %}
                          <a class="action-item" href="{{ developer.homepage }}">
                            <span class="material-symbols-outlined">open_in_new</span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div><!-- row -->

        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- page-content -->


{% endblock content %}
