{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-7 col-md-offset-1">

      <h1>Tus alertas</h1>

      {% if not alerts %}
        <p>Aún no has configurado niguna alerta. Luego de hacer una búsqueda, puedes crear una
          alerta al hacer clic en el ícono de campana al costado del nombre de las personas que
          visitaron las instituciones estatales.
        </p>
        <p>
          <img width="560px" height="205px" class="img-responsive img-rounded" src='{% static "/img/alert1.png" %}' />
        </p>
        <p>
          Luego de hacer click, aquí aparecerá la lista de nombres y recibirás un email cada vez
          que aparezca un nuevo registro de visita de aquellas personas.
        </p>
      {% else %}
        <p>
          Recibirás un email cada vez que aquellas personas visiten alguna institución estatal.
        </p>
        <ul>
          {% for alert in alerts %}
          <li>
            {{ alert.full_name }}
            <span class="label label-danger clear_alert" id="{{ alert.id }}">
              Eliminar alerta [x]
            </span>
          </li>
          {% endfor %}
        </ul>
      {% endif %}



    </div>
  </div><!-- row -->
</div><!-- container -->

{% endblock content %}


{% block additional_javascript %}
<script src='{% static "js/jquery.toast.min.js" %}'></script>
<script>
$( document ).ready(function() {
  $( ".clear_alert" ).click(function() {
    var id = $(this).attr("id");
    $.post("/delete_alert/", {"id": id}, function(data) {});
    $(this).parent().fadeOut("slow");
  });
});
</script>
{% endblock additional_javascript %}
