<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
  <head>
    {% block additional_meta %}
    {% endblock additional_meta %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manolo. Buscador de visitas a
    entidades del Estado Peruano">
    <meta name="author" content="AniversarioPeru">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aniversarioperu" />
    <meta name="twitter:creator" content="@aniversarioperu" />
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    {% block title %}
      <title>Manolo. Buscador de visitas a instituciones del Estado</title>
    {% endblock title %}

    {% block additional_css %}
    {% endblock additional_css %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block additional_head_javascript %}
    {% endblock additional_head_javascript %}

    <meta name="google-site-verification" content="uk37dY0Tu4FruLBIajY-iw0ibfz1MKS7_jj7OY_hpk0" />
  </head>

{% block body_tag %}
  <body>
{% endblock body_tag %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="manolo.rocks" width="46px" src="{% static 'img/manolo_logo.svg' %}" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form action="#" class="navbar-form form-inline">
                <div class="form-group">
                  {% if request.user.is_authenticated %}
                    {% if user_profile.avatar %}
                       <img src="data:image/png;base64, {{ user_profile.avatar }}"
                            class="img-circle"
                            title="{{ user_profile.first_name }} avatar"
                            alt="avatar" width="40px" />&nbsp;
                       <b>{{ user_profile.first_name }}</b>&nbsp;
                    {% endif %}
                    <a class="btn btn-danger" href="{% url 'auth_logout' %}">Logout</a>
                  {% else %}
                    <a class="btn btn-success" href="{% url 'auth_login' %}">Login</a>
                  {% endif %}
                </div>
              </form>
            </li>
            <li><a href="/cazador/">Manolo Cazador</a></li>
            <li><a href="/docs/">API</a></li>
            <li><a href="/about/">About Manolo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



  {% block content %}{% endblock content %}


    <br />



      <div class="container-fluid">
        <div class="well"><b>Disclaimer:</b> La info presentada
            en esta herramienta web (o sea <b>Manolo</b>) es referencial y no tiene valor legal.
            Para denuncias y otras cuestiones legales debes verificar con las fuentes originales
            (ej. el registro en línea de la
            institución estatal correspondiente).
        </div>


        <hr>
        <footer>
          <small class="pull-left">
            <a href="https://github.com/aniversarioperu/django-manolo/"><i class="fa fa-github-alt"></i>
              v2.4.0</a>
          </small>

            <small class="pull-right">

                Los datos en Manolo son obtenidos con escrapers construidos con el framework
                <a href="http://scrapy.org/">Scrapy</a>.
              <br />
              &copy; 2015-2016 Desarrollado por <a href="https://twitter.com/AniversarioPeru">Carlos Peña<i class="fa fa-twitter"></i></a>
              &amp; <a href="https://twitter.com/matiskay">Edgar Marca<i class="fa fa-twitter"></i></a>
              <br />
              <br />
            </small>
        </footer>
      </div>


  {% load staticfiles %}
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/highlighter.js" %}'></script>
  <script>$("#contenido").highlight('{{ query }}');</script>

  {% block additional_javascript %}
  {% endblock additional_javascript %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84928433-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>