<div id="footer-main" class="footer pt-5 pb-4 footer-light">
  <div class="row text-center text-sm-left align-items-sm-center">
    <div class="alert alert-warning" role="alert">
      <h5 class="alert-heading">Disclaimer</h5>
      <p>
        La info presentada
        en esta herramienta web (o sea <b>Manolo</b>) es referencial y no tiene valor legal.
        Para denuncias y otras cuestiones legales debes verificar con las fuentes originales
        (ej. el registro en línea de la
        institución estatal correspondiente).
      </p>
    </div>
  </div>
</div>