{% extends 'base.html' %}
{% load humanize %}

{% block additional_meta %}
<meta name="google-site-verification" content="SJHongQivcIuf-n-pbpbxYuJDMUZv0LCgt3RnF-4WJ0" />
{% endblock additional_meta %}

{% block content %}
<div class="container" style="text-align:center; max-width:1200px;">
  <h2>Este es Manolo</h2>
    <p>
      <b>Manolo es un buscador de las personas</b> que visitan entidades del
      Estado peruano.
      <br />
      Los datos pueden ser descargados de instituciones que tengan sus
      registro de visita en línea.
    </p>

    <div class='well'>
      Puedes buscar por nombre o palabra clave. Por ejemplo tipea
      <b>ROMULO</b> y haz click en "Buscar".
<!--      <br />-->
<!--      También puedes usar el <b><a href="/docs/">REST API</a></b>.-->
    </div>


  {% include 'search_box.html' %}

  <br />
  <hr>


  <div class="row">
    <div class="col-xs-9 col-xs-offset-1  col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
      <h3 class="text-left">La base de datos de Manolo <i class="fa fa-database"></i></h3>

      <p class="text-left">Contiene <span class="label label-primary"><b>{{ count|intcomma }}</b></span> registros de visitas de las siguientes instituciones:</p>
      <ul class="list-group text-left">
        {% for institution in institutions  %}
          <li class="list-group-item">
            {{ institution.rank }}. <a href="/search/?q={{ institution.slug }}">{{ institution.name }}.</a>
            <small>(Updated {{ institution.last_updated|naturaltime }}</small>)
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- row -->


  <br />
  <hr>


  <div class="row">
    <div class="col-xs-9 col-xs-offset-1  col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
      <h3 class="text-left">La información contenida en Manolo ha sido utilizada para estas notas
                            periodísticas:
      </h3>

      <p class="text-left">
        {% load static %}
        <img src="{% static 'img/2014-12-01_portadas.png' %}" />
      </p>

      <h4 class="text-left">
        Tales medios rebotaron la nota periodística de
        <a href="https://twitter.com/martinhidalgo">Martín Hidalgo</a> publicada en el
        <a href="http://utero.pe/2014/11/24/exclusivo-chocherin-el-socio-de-martin-belaunde-visito-palacio-de-gobierno-33-veces/">utero.pe</a>:

        <br />
        <br />
        <a href="http://utero.pe/2014/11/24/exclusivo-chocherin-el-socio-de-martin-belaunde-visito-palacio-de-gobierno-33-veces/">
          EXCLUSIVO: “CHOCHERÍN”, EL SOCIO DE MARTÍN BELAUNDE, VISITÓ PALACIO DE GOBIERNO 33 VECES
        </a>
      </h4>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-12">
      <h3>Sponsors</h3>
      <p>Manolo es financiado por:</p>
        <a href="https://patreon.com/ocram">
          <img
            src="{% static 'img/sponsor_encerrona.png' %}" alt="La Encerrona"
            width="300px"
          />
        </a>
    </div>
  </div>

</div><!-- container -->

<br />

{% endblock content %}
