{% extends 'base.html' %}
{% load humanize %}

{% block additional_meta %}
<meta name="google-site-verification" content="SJHongQivcIuf-n-pbpbxYuJDMUZv0LCgt3RnF-4WJ0" />
{% endblock additional_meta %}

{% block content %}
<div class="container" style="text-align:center; max-width:1200px;">
  <h2>Este es Manolo</h2>
    <p>
      <b>Manolo es un buscador de las personas</b> que visitan entidades del
      Estado peruano.
      <br />
      Los datos pueden ser descargados de instituciones que tengan sus
      registro de visita en línea.
    </p>

    <div class='well'>
      Puedes buscar por nombre o palabra clave. Por ejemplo tipea
      <b>ROMULO</b> y haz click en "Buscar".
      <br />
      También puedes usar el <b><a href="/docs/">REST API</a></b>.
    </div>


  {% include 'search_box.html' %}

  <br />
  <hr>


  <div class="row">
    <div class="col-xs-9 col-xs-offset-1  col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
      <h3 class="text-left">La base de datos de Manolo <i class="fa fa-database"></i></h3>

      <p class="text-left">Contiene <span class="label label-primary"><b>{{ count|intcomma }}</b></span> registros de visitas de las siguientes instituciones:</p>
      <ol class="list-group text-left">
        <li class="list-group-item">15. <a href="/search/?q=mincetur">Min. de Comercio Exterior y Turismo</a>
          <span class="label label-danger"><b>Nuevo</b></span>
          <span class="label label-info"><b>Premium users: <a href="/accounts/login/">Login</a></b></span>
        </li>
        <li class="list-group-item">15. <a href="/search/?q=minjus">Ministerio de Justicia</a>
          <span class="label label-danger"><b>Nuevo</b></span>
          <span class="label label-info"><b>Premium users: <a href="/accounts/login/">Login</a></b></span>
        </li>
        <li class="list-group-item">14. <a href="/search/?q=congreso">Congreso de la República</a></li>
        <li class="list-group-item">13. Ministerio de <a href="/search/?q=minsa">Salud</a></li>
        <li class="list-group-item">12. Ministerio de <a href="/search/?q=minedu">Educación</a></li>
        <li class="list-group-item">11. Ministerio de <a href="/search/?q=mincu">Cultura (MINCU)</a></li>
        <li class="list-group-item">10. Ministerio de <a href="/search/?q=minagr">Agricultura (MINAGR)</a></li>
        <li class="list-group-item">9. Ministerio de la Producción <a href="/search/?q=produce">(Produce)</a>
        <li class="list-group-item">8. Ministerio <a href="/search/?q=minem">de Energía y Minas</a>
        <li class="list-group-item">7. Organismo Supervisor de las Contrataciones del Estado, <a href="/search/?q=osce">OSCE</a></li>
        <li class="list-group-item">6. Ministerio de <a href="/search/?q=defensa">Defensa</a></li>
        <li class="list-group-item">5. <a href="/search/?q=inpe">INPE</a></li>
        <li class="list-group-item">4. Ministerio <a href="/search/?q=min.%20mujer">de la Mujer</a></li>
        <li class="list-group-item">3. Presidencia del <a href="/search/?q=pcm">Consejo de Ministros</a></li>
        <li class="list-group-item">2. <a href="/search/?q=presidencia">Presidencia</a></li>
        <li class="list-group-item">1. Ministerio <a href="/search/?q=vivienda">de Vivienda</a></li>
      </ol>
    </div>
  </div><!-- row -->


  <br />
  <hr>


  <div class="row">
    <div class="col-xs-9 col-xs-offset-1  col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
      <h3 class="text-left">La información contenida en Manolo ha sido utilizada para estas notas
                            periodísticas:
      </h3>

      <p class="text-left">
        {% load staticfiles %}
        <img src="{% static 'img/2014-12-01_portadas.png' %}" />
      </p>

      <h4 class="text-left">
        Tales medios rebotaron la nota periodística de
        <a href="https://twitter.com/martinhidalgo">Martín Hidalgo</a> publicada en el
        <a href="http://utero.pe/2014/11/24/exclusivo-chocherin-el-socio-de-martin-belaunde-visito-palacio-de-gobierno-33-veces/">utero.pe</a>:

        <br />
        <br />
        <a href="http://utero.pe/2014/11/24/exclusivo-chocherin-el-socio-de-martin-belaunde-visito-palacio-de-gobierno-33-veces/">
          EXCLUSIVO: “CHOCHERÍN”, EL SOCIO DE MARTÍN BELAUNDE, VISITÓ PALACIO DE GOBIERNO 33 VECES
        </a>
      </h4>
    </div>
  </div><!-- row -->


</div><!-- container -->

<br />

{% endblock content %}
