
{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-7 col-md-offset-1">

      <h1>Estadísticas del visitante más caserito</h1>


      <table class="table table-bordered table-striped">
        <tr>
          <th>Nombre</th>
          <th class="text-center">Cantidad de visitas</th> 
        </tr>
        {% for i in visitors %}

        <tr>
          <td>{{ i.full_name }}</td>
          <td class="text-center">{{ i.number_of_visits|intcomma }} </td> 
        </tr>
        
        {% endfor %}
      </table> 
     


    </div>
  </div><!-- row -->







</div><!-- container -->

{% endblock content %}
