{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">

  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
      <h1>Manolo</h1>
      <p>
        Manolo ofrece todos sus registros antiguos y actualizados gratis. No
        es necesario login para acceder a todos los registros.
      </p>
    </div>
  </div>


  <div class='row'>
    <div class='col-xs-8 col-sm-4 col-lg-4 col-sm-offset-3'>
      <h1>Login</h1>

      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <br />
        <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>

  </div><!-- row -->
  <hr/>



</div><!-- container -->
{% endblock content %}
