<h1>Manolo cazador</h1>
<p>
  Manolo cazador es una base de datos que contiene la lista de deudores de alimentos
  (REDAM), deudores de reparaciones al Estado peruano, candidatos a las elecciones
  Municipales y Regionales 2014 que indicaron tener sentencias, y las presonas
  que recibieron conmutación de pena durante el 2do gobierno aprista.
</p>
<p>
  La idea es que aquí busques a tu candidato al Congreso favorito y averigues si
  está registrado en las bases de datos del Estado por deudas o sentencias.
  <b>Tienes todas estas bases de datos del Estado en un solo lugar.</b>
</p>
